[mysql-feeder]
host: localhost
user: feeder
passphrase: awesomePassphrase
dbname: hamsterprinter

[mysql-printer]
host: localhost
user: printer
passphrase: awesomePassphrase
dbname: hamsterprinter


[printer]
dev: /dev/ttyUSB0
rotate: false
textSize: 30
fontFile: /usr/share/fonts/truetype/ubuntu-font-family/Ubuntu-B.ttf
verticalDpi: 180
# all or the srcTypes that are used in the database, e.g. Twitter or WeatherCurrent
printFeeds: all

[twitter]
# Get the API key here (its free): https://developer.twitter.com/en/docs/basics/authentication/guides/access-tokens
consumerKey: xx
consumerSecret: xx
accessTokenKey: xx
accessTokenSecret: xx
filter: #love #peace #harmony
;filter: #hamsterprinter
follow: realDonaldTrump

[weather]
# Get the API key here (its free): https://www.apixu.com
# Obs only ca. 13 API calls per hour (10k/month) in the free service plan
apixuApiKey: xx
location: Aalborg,DK
# Intervals are ins seconds.
# Current weather
currentEnable: true
# If enabled the message is "pinned" on the chute. 
# That means it will be reprinted if it is no longer visible
#currentEnforceUpdateInterval: 60
# May be multiple times, e.g.: 8:30 17:00
currentEnforceUpdateTime: 8:30 16:00
# Weather forecast
ForecastEnable: true
#ForecastEnforceUpdateInterval: 60
ForecastEnforceUpdateTime: 8:30 16:00
ForecastDays = 3
# Length of chute in cm. Only used if printAtEveryInterval is false
chuteLength: 120

[instagram]
# Instagrams API over the last few years is bekomming more and more restricted.
# I use an unofficial library that gets the job done. The library authors do write however:
# "To successfully parse for a long time you should verify your phone number in your Instagram account.
# The new fake Instagram account with an unverifird phone number after ~ 1-24 hours could not do any requests. 
# All requests will be redirected to the page instagram.com/challenge"
username: xx
passphrase: xx
filter: #love #peace #harmony
